#about-me {
    font-size: var(--text-size);
}

#about-me .row {
    display: flex;
    flex-wrap: nowrap;
}

#about-me .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-me .profil-photo {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
