.navbar {
    background: var(--navbar-bg);
    color: var(--navbar-text);
}

.navbar-brand,
#navbar .nav-link {
    color: inherit;
}

.navbar-toggler {
    border-color: var(--navbar-toggler-border) !important;
    color: var(--navbar-toggler-color) !important;
}

.navbar-toggler-icon {
    background-image: var(--navbar-toggler-icon);
}

#navbar svg {
    flex-shrink: 0;
    width: var(--text-size);
    height: var(--text-size);
    fill: currentColor;
    transition: 0.2s ease-in-out transform;
}

.nav-item .nav-link img,
.nav-item ul.dropdown-menu li a.dropdown-item img {
    width: 1.5rem;
    height: auto;
}

/* Pour customiser / personnaliser la navbar de bootstrap */
.custom-navbar-nav {
    margin-left: auto;
    /* Aligner à droite */
}

.svg {
    width: 1.5rem;
    height: auto;
}

.navbar .dropdown-menu, .navbar .dropdown-menu .dropdown-item {
    background: var(--navbar-bg);
    color: var(--navbar-text);
}
