nav.navbar * {
    background-image: var(--navbar-bg);
    color: var(--navbar-text);
}

nav.background {
    background-color: var(--bs-navbar-bg);
    color: var(--bs-navbar-text);
}

.navbar-brand img,
.navbar-brand {
    width: 2rem;
    height: auto;
}

.nav-text,
a.navbar-brand {
    font-size: 1.5rem;
}

.nav-item .nav-link img,
.nav-item ul.dropdown-menu li a.dropdown-item img {
    width: 1.5rem;
    height: auto;
}

/* Pour customiser / personnaliser la navbar de bootstrap */
.custom-navbar-nav {
    margin-left: auto;
    /* Aligner à droite */
}

.svg {
    width: 1.5rem;
    height: auto;
}