.navbar .container-fluid ul li img,
.navbar .container-fluid a.navbar-brand img,
.nav-item ul.dropdown-menu li a.dropdown-item img {
    transition: transform 0.3s ease-out;
}

.navbar .container-fluid ul li img:hover,
.navbar .container-fluid a.navbar-brand img:hover,
.nav-item ul.dropdown-menu li a.dropdown-item img:hover {
    transform: scale(1.5) rotate(360deg);
}

.navbar-brand img,
.navbar-brand {
    width: 2rem !important;
    height: auto;
}

.nav-text,
a.navbar-brand {
    font-size: 1.5rem;
}

.nav-item .nav-link img,
.nav-item ul.dropdown-menu li a.dropdown-item img {
    width: 1.5rem;
    height: auto;
}

/* Pour customiser / personnaliser la navbar de bootstrap */
.custom-nav {
    margin-left: auto;
    /* Aligner à droite */
}

.custom-nav .nav-link {
    margin-right: 15px;
    /* Espacement horizontal entre les liens */
}

.svg {
    width: 1.5rem;
    height: auto;
}