#projects {
    color: var(--text-color);
    font-size: var(--text-size);
}

.project-item {
    margin-top: 2.5rem;
}

.title-project {
    font-family: "Lato", serif;
    font-size: 1.8rem;
}

.project-item h3.title-project {
    font-weight: bold;
}

.project-language {
    font-family: "Lato", serif;
    font-size: 1.5rem;
}

#projects .flash {
    /* Pour changer l'apparence du nom de la série */
    font-style: italic;
    color: color-mix(in srgb, red, yellow);
}
