:root {
    --text-size: 1.30rem;
    --bs-nav-link-font-size: 1.25rem;
    --scrollbar-width: 10px;
    --scrollbar-thumb-border: 2px solid transparent;
    --scrollbar-thumb-border-radius: 5px;
}

[data-bs-theme="light"],
html[data-bs-theme="auto"][data-auto-theme="light"] {
    --text-color: #000000;
    --bg-color: #86A0CA;
    --arrow-color: #000000;
    /* Scrollbar */
    --scrollbar-track-color: #f0f0f0;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
    /* Scrollbar */
    /* Navbar */
    --navbar-bg: rgba(33, 37, 41, 1);
    --navbar-text: #FFFFFF;
    --navbar-toggler-color: rgba(255, 255, 255, 0.65);
    --navbar-toggler-border: rgba(255, 255, 255, 0.15);
    --navbar-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /* Navbar */
    /* About me */
    --name-gradient: linear-gradient(315deg, #8ba7f4,#9995f6,#b68bf5,#d88bf4);
    /* About me */
}

[data-bs-theme="dark"],
html[data-bs-theme="auto"][data-auto-theme="dark"] {
    --text-color: #FFFFFF;
    --bg-color: #0C4194;
    --arrow-color: #FFFFFF;
    /* Scrollbar */
    --scrollbar-track-color: #2c2c2c;
    --scrollbar-thumb-color: #555;
    --scrollbar-thumb-hover-color: #888;
    /* Scrollbar */
    /* Navbar */
    --navbar-bg: rgba(248, 249, 250, 1);
    --navbar-text: #000000;
    --navbar-toggler-color: rgba(0, 0, 0, 0.65);
    --navbar-toggler-border: rgba(0, 0, 0, 0.15);
    --navbar-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /* Navbar */
    /* About me */
    --name-gradient: linear-gradient(315deg, #0c3754,#0b1e34,#0c0d1c,#0c1e1a);
    /* About me */
}
