@charset "UTF-8";
@import url('root.css');

* {
    scroll-margin-top: 80px;
    transition: background-color 1s ease, color 1s ease;
}

body {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

#navbar svg {
    flex-shrink: 0;
    width: var(--text-size);
    height: var(--text-size);
    fill: currentColor;
    transition: 0.2s ease-in-out transform;
}

#arrow-container {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowAnimation 1.5s infinite;
    z-index: 2;
}

.arrow {
    fill: var(--arrow-color);
    width: 3vw;
    height: 3vw;
}

.character {
    transition: all 0.3s ease;
}

.character:hover {
    transform: scale(1.5) rotateY(360deg);
}

.realiser {
    border-color: #B80905 !important;
    color: #B80905 !important;
}

.realiser .card-header {
    background: #B80905 !important;
    color: white !important;
}

.optimiser {
    border-color: #ED8C51 !important;
    color: #ED8C51 !important;
}

.optimiser .card-header {
    background: #ED8C51 !important;
    color: black !important;
}

.administrer {
    border-color: #EFBA11 !important;
    color: #EFBA11 !important;
}

.administrer .card-header {
    background: #EFBA11 !important;
    color: black !important;
}

.gerer {
    border-color: #8CC850 !important;
    color: #8CC850 !important;
}

.gerer .card-header {
    background: #8CC850 !important;
    color: black !important;
}

.conduire {
    border-color: #0A215E !important;
    color: #0A215E !important;
}

.conduire .card-header {
    background: #0A215E !important;
    color: white !important;
}

.collaborer {
    border-color: #0F0F0F !important;
    color: #0F0F0F !important;
}

.collaborer .card-header {
    background: #0F0F0F !important;
    color: white !important;
}

.project-item {
    margin-top: 2.5rem;
}

.project-item h3.title-project {
    font-weight: bold;
}

/* pour la marge */
main, section {
    padding: 0.625rem 1.15rem;
    margin: 0.5em;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #ffffff;
}

.profil-photo {
    width: 75%;
    height: auto;
    /* décaler légèrement vers la droite */
    margin-left: 1rem;
    /* décaler légèrement vers le bas */
    margin-top: 1rem;
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

main {
    font-family: "Lato", serif !important;
}

footer .container .row div form div label {
    font-family: "Lato", serif !important;
}

/* pour l'animation de la bordure */
.all-border {
    border-width: 5px;
    border-style: solid;
    /*border-image: linear-gradient(red, orange, yellow, green, aqua, blue, purple, pink) 1;*/
    animation: Gradient-border 2s infinite;
    height: fit-content;
}

/* Styles pour les boutons de contrôle */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0.5; /* Opacité par défaut */
    transition: opacity 0.3s ease;
}

/* Augmenter l'opacité lorsqu'on passe la souris sur les boutons */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

/* Styles pour le carousel */
.my-carousel {
    /* Ajouter une ombre pour rendre le carousel plus visible */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Augmenter l'opacité lorsqu'on passe la souris sur le carousel */
.my-carousel:hover {
    /* Augmenter légèrement l'opacité */
    opacity: 0.9;
    /* Ajouter une transition fluide */
    transition: opacity 0.3s ease;
}

/* titre de bloc / section */
.title-section {
    font-family: "Lato", serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.title-project {
    font-family: "Lato", serif;
    font-size: 1.8rem;
}

.project-title {
    font-family: "Lato", serif;
    font-size: 1.5rem;
}

.italic-text {
    font-style: italic;
}

.skills-title {
    font-family: "Autolova", serif;
    font-size: 2rem;
}

.p-img {
    /* Pour l'image à la même taille que le texte */
    width: 2.5rem !important;
    height: auto;
    transition: transform 0.3s ease-out;
}

.p-img:hover {
    transform: scale(1.5) rotate(360deg);
    /* Pour faire tourner et agrandir l'image lorsque l'on survole l'image */
}

.img-container {
    background-color: white;
    border-radius: 10%;
}

/* Version plus grande de p-img, même animation */
.img-spin {
    width: 4rem;
    height: auto;
    margin: 10px;
    padding: 5px;
    transition: transform 0.3s ease-out;
}

.img-spin:hover {
    transform: scale(1.5) rotate(360deg);
}

/* Pour les icônes */
.dev-icons {
    font-size: 3rem
}

.badge-img {
    width: max-content;
    height: auto !important;
}

/* Partie footer */
.footer {
    background-color: #f8f9fa;
    color: black;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2rem;
    width: 100%;
    font-family: "Lato", serif;
    font-size: 1.2rem;
    margin-top: 5rem;
}

.footer h4 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.footer form {
    margin-top: 20px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.link {
    /* Pour les liens du footer */
    color: black;
    text-decoration: none;
    position: relative;
    display: block;
}

.link:hover {
    text-decoration: underline;
}

#social-networks li a {
    width: fit-content;
}

#social-networks li a:hover {
    font-weight: bold;
}

/* Apparence du bouton de retour vers le haut */
#btn-retour-haut {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
}


#flash {
    /* Pour changer l'apparence du nom de la série */
    font-style: italic;
    color: color-mix(in srgb, red, yellow);
}

.ita-bold {
    /* Pour mettre en italique et en gras */
    font-weight: bold;
    font-style: italic;
}

/* Liste de la langages informartiques */
.main-list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
}

/* Taille écran d'ordinateur */
@media screen and (min-width: 769px) {

    header,
    main {
        padding: 10px 100px;
        margin: 0.5em;
    }
}
