.spinner {
	font-size: var(--text-size);
	width: var(--text-size);
	height: auto;
	transition: all 0.3s ease;
}

.spinner:hover {
	transform: scale(1.5) rotate(360deg);
}

@keyframes fadeTransition {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html {
	animation: fadeTransition 0.5s ease;
}

@keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes about-me-name {
	0% {
		transform: scale(1);
		opacity: 0;
	}

	50% {
		transform: scale(1.1);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.heartbeat-hover:hover {
	-webkit-animation: heartbeat 0.5s ease-in-out infinite both;
	animation: heartbeat 0.5s ease-in-out infinite both;
}

@keyframes heartbeat {
	from {
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.gradient-border {
	border: 2px solid;
	animation: Gradient-border 2s infinite;
}

@keyframes Gradient-border {
	0% {
		border-color: red;
	}

	14% {
		border-color: orange;
	}

	28% {
		border-color: yellow;
	}

	42% {
		border-color: green;
	}

	57% {
		border-color: blue;
	}

	71% {
		border-color: indigo;
	}

	85% {
		border-color: violet;
	}

	100% {
		border-color: red;
	}
}

@keyframes gradient-flow {
	0% {
		background-position: 0%;
	}
	25% {
		background-position: 50%;
	}
	50% {
		background-position: 100%;
	}
	75% {
		background-position: 50%;
	}
	100% {
		background-position: 0%;
	}
}
