.wobble-hor-bottom:hover {
	-webkit-animation: wobble-hor-bottom 1s both;
	animation: wobble-hor-bottom 1s both;
}

@keyframes wobble-hor-bottom {

	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}

	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.tracking-in-contract {
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
	0% {
		letter-spacing: 1em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		letter-spacing: normal;
		opacity: 1;
	}
}

.lettre01 {
	animation: letters 3s ease 0000ms forwards;
}

.lettre02 {
	animation: letters 3s ease 0050ms forwards;
}

.lettre03 {
	animation: letters 3s ease 0100ms forwards;
}

.lettre04 {
	animation: letters 3s ease 0150ms forwards;
}

.lettre05 {
	animation: letters 3s ease 0200ms forwards;
}

.lettre06 {
	animation: letters 3s ease 0250ms forwards;
}

.lettre07 {
	animation: letters 3s ease 0300ms forwards;
}

.lettre08 {
	animation: letters 3s ease 0350ms forwards;
}

.lettre09 {
	animation: letters 3s ease 0400ms forwards;
}

.lettre10 {
	animation: letters 3s ease 0450ms forwards;
}

.lettre11 {
	animation: letters 3s ease 0500ms forwards;
}

.lettre12 {
	animation: letters 3s ease 0550ms forwards;
}

.lettre13 {
	animation: letters 3s ease 0600ms forwards;
}

.lettre14 {
	animation: letters 3s ease 0650ms forwards;
}

.lettre15 {
	animation: letters 3s ease 0700ms forwards;
}

.lettre16 {
	animation: letters 3s ease 0750ms forwards;
}

.lettre17 {
	animation: letters 3s ease 0800ms forwards;
}

.lettre18 {
	animation: letters 3s ease 0850ms forwards;
}

.lettre19 {
	animation: letters 3s ease 0900ms forwards;
}

@keyframes letters {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes defile {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 10%;
		opacity: 1
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Gradient-border {
	0% {
		border-color: red;
	}

	14% {
		border-color: orange;
	}

	28% {
		border-color: yellow;
	}

	42% {
		border-color: green;
	}

	57% {
		border-color: blue;
	}

	71% {
		border-color: indigo;
	}

	85% {
		border-color: violet;
	}

	100% {
		border-color: red;
	}
}

@-moz-keyframes Gradient-border {
	0% {
		border-color: red;
	}

	14% {
		border-color: orange;
	}

	28% {
		border-color: yellow;
	}

	42% {
		border-color: green;
	}

	57% {
		border-color: blue;
	}

	71% {
		border-color: indigo;
	}

	85% {
		border-color: violet;
	}

	100% {
		border-color: red;
	}
}

@keyframes Gradient-border {
	0% {
		border-color: red;
	}

	14% {
		border-color: orange;
	}

	28% {
		border-color: yellow;
	}

	42% {
		border-color: green;
	}

	57% {
		border-color: blue;
	}

	71% {
		border-color: indigo;
	}

	85% {
		border-color: violet;
	}

	100% {
		border-color: red;
	}
}