@font-face { /* Initialisation de la police Birds-of-Paradise */
    font-family: "Birds-of-Paradise";
    src: url("../fonts/Birds-of-Paradise-Font.ttf") format("truetype");
}

@font-face { /* Initialisation de la police Blaster */
    font-family: "Blaster";
    src: url("../fonts/Blaster-Font.otf") format("opentype");
}

@font-face { /* Initialisation de la police Lato */
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face { /* Initialisation de la police Lexend */
    font-family: "Lexend";
    src: url("../fonts/Lexend-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Autolova";
    src: url("../fonts/Autolova.ttf") format("truetype");
}

@font-face {
    font-family: "Monocraft";
    src: url("../fonts/Monocraft.otf") format("opentype");
}