@media screen and (max-width: 600px) {
    header, main, footer {
        padding: 10px 50px 10px 50px;
        margin: 10px 50px 10px 50px;
    }

    .name {
        font-size: 500%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 100%;
    }

    h5 {
        font-size: 100%;
    }

    h6 {
        font-size: 100%;
    }

    #name-container {
        width: 100%;
    }

    .name {
        font-size: 500%;
    }
}

@media screen and (max-width: 400px) {
    header, main, footer {
        padding: 10px 50px 10px 50px;
        margin: 10px 50px 10px 50px;
    }

    .name {
        font-size: 200%;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 100%;
    }

    h5 {
        font-size: 100%;
    }

    h6 {
        font-size: 100%;
    }

    .name {
        font-size: 300%;
    }

    #name-container {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    header, main, footer {
        padding: 10px 50px 10px 50px;
        margin: 10px 50px 10px 50px;
    }

    .name {
        font-size: 100%;
    }

    h1 {
        font-size: 100%;
    }

    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 100%;
    }

    h5 {
        font-size: 100%;
    }

    h6 {
        font-size: 100%;
    }

    .name {
        font-size: 200%;
    }

    #name-container {
        width: 100%;
    }
}
