/* responsive font-size */
@media (max-width: 576px) {
    :root {
        --text-size: 1.10rem;
        /*--bs-nav-link-font-size: 1.10rem;*/
    }
}

@media (min-width: 576px) {
    :root {
        --text-size: 1.20rem;
        /*--bs-nav-link-font-size: 1.20rem;*/
    }
}

/*@media (min-width: 768px) {
    :root {
        --text-size: 1.25rem;
        --bs-nav-link-font-size: 1.15rem;
        --bs-navbar-brand-font-size: 1rem;
    }
}*/

:root {
    --text-size: 1.25rem;
    --title-section-size: 2.5rem;
    --subtitle-section-size: 1.9rem;
    --bs-nav-link-font-size: 1rem;
    --bs-navbar-brand-font-size: 5rem;
    --scrollbar-width: 10px;
    --scrollbar-thumb-border: 2px solid transparent;
    --scrollbar-thumb-border-radius: 5px;
}

[data-theme="light"],
html[data-theme="auto"][data-auto-theme="light"] {
    --text-color: #000000;
    --bg-color: #86A0CA;
    --mouse-down: #000000;
    --bg-mouse-down: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    --code-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='64.000000pt' height='64.000000pt' viewBox='0 0 64.000000 64.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,64.000000) scale(0.100000,-0.100000)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M347 478 c-8 -13 -39 -87 -68 -166 -49 -134 -52 -144 -36 -160 13%0A-13 21 -14 35 -6 25 16 137 315 124 334 -15 24 -40 23 -55 -2z'/%3E%3Cpath d='M102 386 c-29 -30 -52 -60 -52 -66 0 -6 23 -36 52 -66 40 -43 57 -54%0A77 -52 40 5 38 35 -5 79 l-38 39 38 39 c43 44 45 74 5 79 -20 2 -37 -9 -77%0A-52z'/%3E%3Cpath d='M437 433 c-15 -14 -5 -39 30 -75 l37 -38 -38 -39 c-43 -44 -45 -74%0A-5 -79 20 -2 37 9 77 52 29 30 52 60 52 66 0 6 -23 36 -51 66 -48 50 -83 66%0A-102 47z'/%3E%3C/g%3E%3C/svg%3E");
     --up-arrow: #002BC4;
    --btn-up-bg: #002BC4;
    --icon-up-color: invert(93%) sepia(34%) saturate(6481%) hue-rotate(323deg) brightness(102%) contrast(102%);
    /* Scrollbar */
    --scrollbar-track-color: #f0f0f0;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
    /* Scrollbar */
    /* Navbar */
    --navbar-bg: rgba(33, 37, 41, 1);
    --navbar-text: #FFFFFF;
    --navbar-hover-bg: rgba(144, 146, 148, 0.15);
    --navbar-toggler-color: rgba(255, 255, 255, 0.65);
    --navbar-toggler-border: rgba(255, 255, 255, 0.15);
    --navbar-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /* Navbar */
    /* About me */
    --name-gradient: linear-gradient(315deg, #8ba7f4,#9995f6,#b68bf5,#d88bf4);
    /* About me */
}

[data-theme="dark"],
html[data-theme="auto"][data-auto-theme="dark"] {
    --text-color: #FFFFFF;
    --bg-color: #0C4194;
    --mouse-down: #FFFFFF;
    --bg-mouse-down: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    --code-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='64.000000pt' height='64.000000pt' viewBox='0 0 64.000000 64.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,64.000000) scale(0.100000,-0.100000)'%0Afill='%23FFFFFF' stroke='none'%3E%3Cpath d='M347 478 c-8 -13 -39 -87 -68 -166 -49 -134 -52 -144 -36 -160 13%0A-13 21 -14 35 -6 25 16 137 315 124 334 -15 24 -40 23 -55 -2z'/%3E%3Cpath d='M102 386 c-29 -30 -52 -60 -52 -66 0 -6 23 -36 52 -66 40 -43 57 -54%0A77 -52 40 5 38 35 -5 79 l-38 39 38 39 c43 44 45 74 5 79 -20 2 -37 -9 -77%0A-52z'/%3E%3Cpath d='M437 433 c-15 -14 -5 -39 30 -75 l37 -38 -38 -39 c-43 -44 -45 -74%0A-5 -79 20 -2 37 9 77 52 29 30 52 60 52 66 0 6 -23 36 -51 66 -48 50 -83 66%0A-102 47z'/%3E%3C/g%3E%3C/svg%3E");
     --up-arrow: #FFD43B;
    --btn-up-bg: crimson;
    --icon-up-color: #FFD43B; /* TODO: À revoir */
    /* Scrollbar */
    --scrollbar-track-color: #2c2c2c;
    --scrollbar-thumb-color: #555;
    --scrollbar-thumb-hover-color: #888;
    /* Scrollbar */
    /* Navbar */
    --navbar-bg: rgba(248, 249, 250, 1);
    --navbar-text: #000000;
    --navbar-hover-bg: rgba(200, 201, 202, 0.15);
    --navbar-toggler-color: rgba(0, 0, 0, 0.65);
    --navbar-toggler-border: rgba(0, 0, 0, 0.15);
    --navbar-toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    /* Navbar */
    /* About me */
    --name-gradient: linear-gradient(315deg, #0c3754,#0b1e34,#0c0d1c,#0c1e1a);
    /* About me */
}
